<!DOCTYPE html>
<html lang="en" ng-app="movies">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
    <style>
        .border {
            border: 1px solid #000;
            padding: 10px;
        }
    </style>
</head>
<body ng-controller="moviesController as moviesCtrl">
    <form ng-submit="moviesCtrl.createNewMovie(newMovie)">
        <input type="text" name="titulo" ng-model="newMovie.titulo">
        <input type="text" name="duracion" ng-model="newMovie.duracion">
        <input type="submit" value="Send">
    </form>
    <div ng-repeat="movie in moviesCtrl.movies" ng-click="moviesCtrl.deleteMovie(movie.id)">
        <div class="border">
            <p>{{movie.id}}</p>
            <p>{{movie.titulo}}</p>
            <p>{{movie.duracion}}</p>
            <p>{{movie.actor}}</p>
        </div>
    </div>
    <script src="bundle.js"></script>
</body>
</html>